* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
}

html {
    background: rgb(54,169,233);
    background: linear-gradient(342deg, rgba(54,169,233,1) 0%, rgba(0,0,0,1) 47%);
}

.container {
    width: 100%;
    height: 10ovh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

img {
    width: 51.7%;
}

.container h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 90px;
    letter-spacing: 6px;
}

.quotes {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 15%;
    color: white;
    font-size: 40px;
    font-family: monospace;
}

.quotes h3 {
    font-size: 45px;
    margin-top: 10px;
}